%h1 Listing qqqs

%table
  %thead
    %tr
      %th Qq
      %th
      %th
      %th

  %tbody
    - @qqqs.each do |qqq|
      %tr
        %td= qqq.qq
        %td= link_to 'Show', qqq
        %td= link_to 'Edit', edit_qqq_path(qqq)
        %td= link_to 'Destroy', qqq, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Qqq', new_qqq_path
