= form_for @worksheet do |f|
  - if @worksheet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@worksheet.errors.count, "error")} prohibited this worksheet from being saved:"
      %ul
        - @worksheet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :client_id
    = f.text_field :client_id
  .field
    = f.label :description_client
    = f.text_field :description_client
  .field
    = f.label :hobbies
    = f.text_field :hobbies
  .field
    = f.label :pernicious_habits
    = f.select :pernicious_habits, select_pernicious_habits
  .field
    = f.label :accommodation_type
    = f.select :accommodation_type, select_accommodation_type
  .field
    = f.label :purpose_acquaintance
    = f.select :purpose_acquaintance, select_purpose_acquaintance
  .form-actions
    = f.submit nil, class: 'btn btn-primary'

