= form_for @worksheet do |f|
  = error_messages_for @worksheet
  .form-actions.bottom20
    = f.submit nil, class: 'btn btn-primary'
  .row
    .col-md-6
      .form-group
        = f.label :description_client
        = f.text_field :description_client, class: 'form-control'
        = f.error_messages_for :description_client
    .col-md-6
      .form-group
        = f.label :hobbies
        = f.text_field :hobbies, class: 'form-control'
        = f.error_messages_for :hobbies
    .col-md-6
      .form-group
        = f.label :pernicious_habits
        = f.select :pernicious_habits, select_pernicious_habits, {} ,{ class: "form-control"}
        = f.error_messages_for :pernicious_habits
    .col-md-6
      .form-group
        = f.label :accommodation_type
        = f.select :accommodation_type, select_accommodation_type, {}, class: 'form-control'
        = f.error_messages_for :accommodation_type
    .col-md-6
      .form-group
        = f.label :purpose_acquaintance
        = f.select :purpose_acquaintance, select_purpose_acquaintance, {}, {  class: "form-control"}
        = f.error_messages_for :purpose_acquaintance

  .row.bottom20
    .col-md-12
      -#= link_to_add_client(f)
  = f.fields_for(:client) do |client|
    = client.hidden_field(:id)
    = render('clients/one_client_form', client: client)
