=breadcrumb_tag do
  %li
    Сайт знакомств
  %li.active
    = t('app.worksheets.show')
  %li
    = link_to 'Анкеты', worksheets_path
.page-header
  %h1= t('app.worksheets.show')



%dl
  %bt= Worksheet.human_attribute_name(:client_id)
  %dd= @worksheet.client.client_name
%dl
  %bt= Worksheet.human_attribute_name(:description_client)
  %dd= @worksheet.description_client
%dl
  %bt= Worksheet.human_attribute_name(:hobbies)
  %dd= @worksheet.hobbies
%dl
  %bt= Worksheet.human_attribute_name(:pernicious_habits)
  %dd= @worksheet.pernicious_habits
%dl
  %bt= Worksheet.human_attribute_name(:accommodation_type)
  %dd= @worksheet.accommodation_type
%dl
  %bt= Worksheet.human_attribute_name(:purpose_acquaintance)
  %dd= @worksheet.purpose_acquaintance


