= form_tag client_search_clients_path(), method: :get do
  .row
    .col-md-6
      .form-group
        .input-group.input-group-md
          = label_tag Client.human_attribute_name(:client_name)
          = fa_icon :edit
          = text_field_tag 'search[client_name]', params['search']['client_name'], :class => "form-control"
    .col-md-6
      .form-group
        .input-group.input-group-md
          = label_tag Worksheet.human_attribute_name(:description_client)
          = text_field_tag 'search[description_client]', params['search']['description_client'], class: 'form-control'
  .row
    .col-lg-6
      = label_tag Client.human_attribute_name(:client_sex)
      .input-group
        = check_box_tag 'search[client_sexm]', params['search']['client_sexm'], ((params.has_key?(:search) && params[:search].has_key?(:client_sexm)) ? true : false )
        М
        = check_box_tag 'search[client_sexf]', params['search']['client_sexf'], ((params.has_key?(:search) && params[:search].has_key?(:client_sexf)) ? true : false )
        Ж
    .col-md-6
      .form-group
        .input-group.input-group-md
        = label_tag Worksheet.human_attribute_name(:hobbies)
        = text_field_tag 'search[hobbies]', params['search']['hobbies'], class: 'form-control'
  .row
    .col-md-6
      .form-group
        .input-group.input-group-md
        = label_tag Worksheet.human_attribute_name(:pernicious_habits)
        = select_tag 'search[pernicious_habits]', select_pernicious_habits1, {class: 'form-control', multiple: true}
    .col-md-6
      .form-group
        .input-group.input-group-md
        = label_tag Worksheet.human_attribute_name(:accommodation_type)
        = select_tag 'search[accommodation_type]', select_accommodation_type1, {class: 'form-control', include_blank: true}
  .row
    .col-md-6
      .form-group
        .input-group.input-group-md
          = label_tag Client.human_attribute_name(:client_country)
          = text_field_tag 'search[client_country]', params['search']['client_country'], :class => "form-control"
    .col-md-6
      .form-group
        .input-group.input-group-md
        = label_tag Worksheet.human_attribute_name(:purpose_acquaintance)
        = select_tag 'search[purpose_acquaintance]', select_purpose_acquaintance1, {class: 'form-control', include_blank: true}
  .row
    .col-md-6
      .form-group
        .input-group.input-group-md
          = label_tag Client.human_attribute_name(:client_city)
          = text_field_tag 'search[client_city]', params['search']['client_city'], :class => "form-control"
    .col-md-6
      .form-group
        .input-group.input-group-md
          = label_tag Payment.human_attribute_name(:service_type)
          = select_tag 'search[service_type]', select_service_type1, {class: 'form-control', include_blank: true}
  .row
    .col-md-6
      .form-group
        .input-group.input-group-md
          = label_tag Client.human_attribute_name(:client_mail)
          = text_field_tag 'search[client_mail]', params['search']['client_mail'], :class => "form-control"
    .col-md-6
      .form-group
        .input-group.input-group-md
          = label_tag Payment.human_attribute_name(:price)
          = text_field_tag 'search[price]', params['search']['price'], :class => "form-control"
    .col-md-6
      .form-group
        .input-group.input-group-md
          = label_tag Payment.human_attribute_name(:validity_service)
          = number_field_tag 'search[validity_service]', params['search']['validity_service'], min: 0,  :class => "form-control"
  .row
    .col-md-6
      .form-group
        .input-group.input-group-md
          = label_tag Client.human_attribute_name(:client_rating)
          = number_field_tag 'search[client_rating]', params['search']['client_rating'] , min: 1, :class => "form-control"
    .col-md-6
      .form-group
        .input-group.input-group-md
          = label_tag Payment.human_attribute_name(:payment_time) + ' с'
        .input-group.date.datepickert
          = text_field_tag 'search[payment_times]', params['search']['payment_times'], :class => "form-control"
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
    .col-md-6
      .form-group
        .input-group.input-group-md
          = label_tag Payment.human_attribute_name(:payment_time) + ' по'
        .input-group.date.datepickert
          = text_field_tag 'search[payment_timepo]', params['search']['payment_timepo'], :class => "form-control"
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar

  .row
    .form-actions
      .col-md-2
        = submit_tag ('Искать'), :class => "btn btn-info"

- if @clients.present?
  = render template: "clients/index"
- else
  %p No results!
