= form_for @payment do |f|
  = error_messages_for @payment
  .form-actions.bottom20
    = f.submit nil, class: 'btn btn-primary'
  .row
    .col-md-6
      .form-group
        = f.label :service_type
        = f.select :service_type, select_service_type, {},  class: 'form-control'
        = f.error_messages_for(:service_type)
    .col-md-6
      .form-group
        = f.label :price
        = f.text_field :price, class: 'form-control'
        = f.error_messages_for(:price)
    .col-md-6
      .form-group
        = f.label :payment_time
        = f.datetime_select :payment_time, class: 'form-control'
        = f.error_messages_for(:payment_time)
        
    .col-md-6
      .form-group
        = f.label :validity_service
        = f.number_field :validity_service, class: 'form-control'
        = f.error_messages_for(:validity_service)



    - if @payment.new_record?
      .col-md-6
        .form-group
          = f.label :client_id
          = f.select :client_id, options_for_select(client_option),
            {:include_blank => 'Выбрать клиента...'}, {class: 'form-control'}
          = f.error_messages_for(:client_id)
      .row.bottom20
        .col-md-12
          = link_to_add_client(f, f.object)
  .row
    = f.fields_for(:client) do |client|
      = client.hidden_field(:id)
      = render('clients/one_client_form', client: client) 
