=breadcrumb_tag do
  %li
    Сайт знакомств
  %li.active
    = t('app.payments.show')
  %li
    = link_to 'Оплата услуг', payments_path

    
.page-header
  %h1= t('app.payments.show')


%dl
  %bt= Payment.human_attribute_name(:client_id)
  %dd= @payment.client.client_name
%dl
  %bt= Payment.human_attribute_name(:service_type)
  %dd= @payment.service_type
%dl
  %bt= Payment.human_attribute_name(:price)
  %dd= @payment.price
%dl
  %bt= Payment.human_attribute_name(:payment_time)
  %dd= @payment.payment_time.to_time.strftime('%m-%e-%y %H:%M')
%dl
  %bt= Payment.human_attribute_name(:validity_service)
  %dd= @payment.validity_service
